@media (max-width: 769px)   {
    .logo img   {
        position: initial;
    }
    .navbar     {
        justify-content: space-between;
    }

    .hamburger  {
        display: block;
    }

    .hamburger.active .line:nth-child(2)  {
        opacity: 0;
    }

    .hamburger.active .line:nth-child(1)  {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .line:nth-child(3)  {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu   {
        background-color: #1B357E;

        flex-direction: column;

        gap: 0;

        left: -100%;

        position: fixed;

        text-align: center;
         
        top: 80px;

        transition: 0.5s ease-in;

        width: 100%;
    }

    .nav-item   {
        margin: 20px 0;
    }

    .nav-menu.active    {
        left: 0;
    }

    .nav-link   {
        color: #FFFFFF;
    }
}
@media (max-width: 500px)   {
    footer  {
        flex-direction: column;

        height: auto;
    }

    .container      {
        flex-direction: column;

        margin-bottom: 10px;

        margin-left: 0;
    }

    .container p   {
        padding: 10px 0;
    }

    .socialNetworks li:nth-child(2)    {
        padding: 0 10px;
    }

    .logoFooter     {
        margin: 0 0 10px;
    }
}