@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

*   {
    box-sizing: border-box;
}

body    {
    font-family: 'Open Sans', sans-serif;

    min-height: 100%;
}

header  {
    border: 1px solid #E8EDED;

    min-height: 80px;

    width: 100%;
}

.nav-link   {
    color: #1351D8;

    font-size: 26px;

    font-weight: 500;

    text-decoration: none;

    transition: 0.7s ease;
}

.nav-link:hover   {
    color: #1B357E;
}

.navbar {
    align-items: center;

    display: flex;

    justify-content: center;

    min-height: 80px;

    padding: 0 25px;
}

.logo img   {
    left: 10px;

    position: absolute;

    top: 8px;

    width: 150px;
}

.nav-menu   {
    align-items: center;

    display: flex;

    gap: 60px;

    justify-content: space-between;
}

.hamburger  {
    cursor: pointer;

    display: none;
}

.line   {
    background-color: #1B357E;

    display: block;

    height: 3px;

    margin: 5px auto;

    transition: all 0.3s ease-in-out;

    width: 25px;

    -webkit-transition: all 0.3s ease-in-out;
}

main    {
    margin: 10px 0;

    width: 100%;
}

.section-desktop     {
    margin: 0 auto;

    width: 90%;
}

.section-mobile     {
    display: none;
}

figure img  {
    width: 100%;
}  

figcaption p    {
    font-size: 22px;

    padding-top: 10px;

    text-align: center;
}

.extra  {
    height: 100px;
}

footer  {
    align-items: center;

    background-color: #1B357E;

    bottom: 0;

    display: flex;

    height: 100px;

    justify-content: space-between;

    left: 0;

    position: fixed;

    width: 100%;
}

.container  {
    align-items: center;

    display: flex;

    margin-left: 20px;
}

.container p    {
    color: #FFFFFF;

    font-size: 24px;

    font-weight: 500;

    padding-right: 5px;
}

.socialNetworks {
    display: flex;
}

.logoFooter     {
    margin-right: 20px;
}

.barra-vertical {
    display: none;
}

/* Lançamento */

iframe  {
    height: 600px;

    width: 100%;
}
.content-lancamento {
    align-items: center;

    display: flex;

    flex-direction: column;

    justify-content: center;

    margin-bottom: 20px;

    margin-top: 10px;

    width: 100%;
}

.description  {
    font-size: 20px;

    padding: 0 20px 30px;

    text-align: center;

    width: 90%;
}

.imageCars  {
    display: flex;

    gap: 100px;

    margin-top: 20px;
}

.imageCars img  {
    width: 250px;
}


td  {
    width: 350px;
}

.content-td  {
    align-items: center;

    display: flex;
}

.td2  {
    justify-content: center;
}

.td3    {
    justify-content: flex-end;
}

.checkbox  {
    height: 40px;

    margin: 0 10px 0 0;

    width: 40px;
}

.content-td .text-td p {
    color: #1351D8;

    font-size: 16px;
}

.content-td .text-td span  {
    font-size: 14px;

    margin-top: 5px;
}

.content-td img    {
    height: 30px;

    margin-left: 10px;

    width: 30px;
}

.content-mobile {
    display: none;
}

/* Contato */
.section-contato    {
    align-items: flex-start;

    display: flex;

    justify-content: center;

    margin-top: 40px;
}

form    {
    display: flex;

    flex-direction: column;

    gap: 10px;

}

form p  {
    font-size: 22px;

    font-weight: 700;
}

form input, form select, form textarea  {
    border: 1px solid #CDCDCD;

    border-radius: 20px;

    color: #929292;

    font-size: 18px;

    padding: 15px;

    width: 500px;
}

form select {
    background-color: #FFFFFF;
}

.submit {
    display: flex;

    justify-content: flex-end
}

form input[type="submit"] {
    background-color: #1351D8;

    border-radius: 15px;

    color: #FFFFFF;

    font-size: 18px;

    padding: 15px;

    width: 300px;
}

form input[type="submit"]:hover {
    background-color: #1B357E;

    font-weight: bold;

    height: 100px;

    width: 350px;

    cursor: pointer;
}

::-webkit-input-placeholder {
    color: #929292;
}
 
:-moz-placeholder { 
    color: #929292; 
}
 
::-moz-placeholder {  
    color: #929292;
}
 
:-ms-input-placeholder {  
    color: #929292;  
}